%div.chat-side
  %div.side-header
    %div.side-header__box
      %p.side-header__box__user-name asd
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#", class: "contents__btn" do
            = icon('fas', 'book')
        %li.side-header__box__menu__edit-user
          = link_to "#", class: "contents__btn" do
            = icon('fas', 'cog')
  %div.groups
    = link_to "#"
    %div.group
      %p.group__group-name qwe
      %p.group__latest-message まだメッセージはありません
      